* {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.grouppic {
    width: 200px;
    justify-content: start;
}
h1 {
    color: chocolate;
    font-size: 40px;
}
.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 3px 3px 10px chocolate;
    padding: 5px;
}
.individual {
    width: 150px;
}
h2 {
    font-size: 25px;
    color:rgb(201, 119, 60);
}